/* From Uiverse.io by arthur_6104 */
.superadmin-box-button {
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;
  display: inline-block;

  /* Position it at the bottom right */
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.button {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
}

.button span {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.superadmin-box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}
